<div class="site-container">
  <div class="card">
  <form id="user-settings-form" method="post" action="/api/user-settings">
  <label>
    <strong>Username:</strong>
    <span id="username">{{user.username}}</span>
  </label>
  <label>
    <strong>Full Name:</strong>
    <input id="full-name" name="full_name" type="text" value="{{user.full_name}}" style="width: 100%;" />
  </label>
  <label>
    <strong>Age:</strong>
    <input id="age" name="age" type="number" min="0" max="120" value="{{user.age}}" style="width: 100%;" />
  </label>
  <label>
    <strong>Height:</strong>
    <input id="height-feet" name="height[feet]" type="number" min="0" max="10" value="{{user.height.feet}}" style="width: 50px;" placeholder="ft" />
    <input id="height-inches" name="height[inches]" type="number" min="0" max="11" value="{{user.height.inches}}" style="width: 50px;" placeholder="in" />
  </label>
  <label>
    <strong>Span:</strong>
    <input id="span-feet" name="span[feet]" type="number" min="0" max="10" value="{{user.span.feet}}" style="width: 50px;" placeholder="ft" />
    <input id="span-inches" name="span[inches]" type="number" min="0" max="11" value="{{user.span.inches}}" style="width: 50px;" placeholder="in" />
  </label>
  <label>
    <strong>Account Created: {{created_at}}</strong>
    <span id="account-created"></span>
  </label>
  <button type="submit" class="btn btn-primary">Update Profile</button>
</form>
  </div>
</div>
