<body>
  <div class="site-container">
    <div class="card">
      <h2>{{user.full_name}}</h2>
      <p><strong>Username:</strong> {{user.username}}</p>
      <p><strong>Age:</strong> {{user.age}}</p>
      <p><strong>Height:</strong> {{user.height_feet}}' {{user.height_inches}}"</p>
      <p><strong>Span:</strong> {{user.span_feet}}' {{user.span_inches}}"</p>
      <p><strong>Account Created:</strong> {{formatDate user.created_at}}</p>
    </div>

    <div class="card">
      {{#if ascents.length}}
        <h3>Ascents:</h3>
        <table>
          <thead>
            <tr>
              <th>Climb Name</th>
              <th>Comment</th>
              <th>Suggested Grade</th>
              <th>Rating</th>
              <th>Ascent Date</th>
            </tr>
          </thead>
          <tbody>
            {{#each ascents}}
              <tr>
                <td>{{climb_name}}</td>
                <td>{{comment}}</td>
                <td>{{#if suggested_grade}}{{suggested_grade}}{{else}}N/A{{/if}}</td>
                <td>{{#if rating}}{{rating}}{{else}}N/A{{/if}}</td>
                <td>{{formatDate ascent_date}}</td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>No ascents yet.</p>
      {{/if}}
    </div>
  </div>
</body>
